Webpack (imports/exports)
    Babel - for old browsers
    Scss - need to watch for what it needed
    Eslint
    2 Modes 
        - Dev
            Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
        - Prod
            Minified Code
Git
    Production
        1.0.0
        0 --------
    Development
        1.0.2
        1 --------- + ---    PR
        2 ------------ |



GIT COMMANDS

Add all files to a GIT (local)
'git add .'

Make a commit:
'git commit -m "Finish project config"'

Upload all:
'git push -u origin webpack'

Switch branches:
'git checkout master'
git checkout -b"nameOfBranch"

Pull all new changes from GitHub:
'git pull'



--------------------------------------------------
Application should contain two sheets
1. Table sheet
    1.1. Line menu
        1.1.1. Input (name of table)
        1.1.2. Exit form table
        1.1.3. New table
    1.2. Toolbar
        1.2.1. Font styles
    1.3. FX div with Input
    1.4. The table     
2. Main menu
    2.1. Header with dashboard
    2.2. 'Create new table' button
    2.3. List of existing tables
        2.3.1. Name of table
        2.3.2. Date of creating        


    
    